<h1>Event Registration</h1>

<div class="event-info">
    <h2>Event Details</h2>
    <h3><%= selectedEvent.name %></h2>
    <p><strong>Date:</strong> <%= selectedEvent.date %></p>
    <p><strong>Attendees:</strong> <%= selectedEvent.attendees %>/<%= selectedEvent.capacity %></p>
    <p><%= selectedEvent.description %></p>        
</div>

<form action="/register" method="POST">
    <!-- Include event id without user selecting what they picked again -->
    <input type="hidden" name="eventId" value="<%= selectedEventId %>">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="John Doe" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="johndoe2000@example.com" required>
    <br>
    <div class="flex">
        <button type="submit">Register</button>
    </div>
</form>